<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Mailing list server for blog.evanchen.cc">
        <meta name="keywords" content="evan chen, blog, mailing list">
        <title>{{ page_title|default:"Mailing list for blog.evanchen.cc" }}</title>
    </head>
    <body>
        <main>
            <h1>{{ page_title|default:"Mailing list for blog.evanchen.cc" }}</h1>
            {% block content %}
            {% endblock content %}
            {% block back_link %}
                <p>
                    <a href="{% url 'index' %}">Back</a>
                </p>
            {% endblock back_link %}
        </main>
    </body>
</html>
