<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Mailing list server for blog.evanchen.cc">
        <meta name="keywords" content="evan chen, blog, mailing list">
        <title>{{ page_title|default:"Evan's mailing list" }}</title>
        <style type="text/css">
            main {
                max-width: 512px;
                margin: 0 auto;
            }
            #foot-divider {
                margin-top: 30px;
            }
        </style>
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        <main>
            {% if page_title %}<h1>{{ page_title }}</h1>{% endif %}
            {% block content %}
            {% endblock content %}
            {% block back_link %}
                <hr id="foot-divider" />
                <p>
                    <a href="{% url 'index' %}">Back</a>
                </p>
            {% endblock back_link %}
        </main>
    </body>
</html>
