{% extends "mailing/base.html" %}
{% block title %}
    Confirm
{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if action == "subscribe" %}
            <p>
                Confirm subscription for <b>{{ email }}</b>?
            </p>
            <button type="submit">Yes, subscribe me</button>
        {% elif action == "unsubscribe" %}
            <p>
                Confirm unsubscription for <b>{{ email }}</b>?
            </p>
            <button type="submit">Yes, unsubscribe me</button>
        {% endif %}
    </form>
    <p>
        <a href="{% url 'index' %}">Back</a>
    </p>
{% endblock content %}
