{% extends "mailing/base.html" %}
{% block content %}
    <p>
        {% if action == "subscribed" %}
            The email <b>{{ email }}</b> is now subscribed!
            You will receive an email on each new blog post.
        {% elif action == "unsubscribed" %}
            The email <b>{{ email }}</b> has now been unsubscribed.
            You can return any time.
        {% elif action == "already_subscribed" %}
            The email <b>{{ email }}</b> was already on the mailing list.
            It remains on the mailing list.
        {% elif action == "not_found" %}
            You requested to unsubscribe <b>{{ email }}</b>,
            but there is no existing subscription.
        {% endif %}
    </p>
{% endblock content %}
