{% extends "mailing/base.html" %}
{% block extra_css %}
    <style type="text/css">
    #le-serrafim {
        font-size: 70%;
        font-style: italic;
    }
    #le-serrafim a {
        text-decoration: none;
    }
    #envelope th {
        text-align: left;
    }
    #envelope th, #envelope td {
        padding: 0px 8px;
    }
    </style>
{% endblock extra_css %}
{% block content %}
    <p>
        Howdy.
        This is the public mailing list for my blog,
        <a href="https://blog.evanchen.cc/"><code>blog.evanchen.cc</code></a>.
    </p>
    {% if request.user.is_superuser %}
        <p>
            <b>… Oh, wait. Hello boss. <a href="{% url "admin:index" %}">Right this way.</a></b>
        </p>
    {% endif %}
    <hr />
    <h2>Subscribe with Google</h2>
    <p>Use OAuth to avoid "confirm your sub" email.</p>
    <ul>
        <li>
            <a href="{% url 'google_login' %}?next={% url 'oauth_subscribe' %}">Subscribe with Google</a>
        </li>
    </ul>
    <p>
        (You can also <a href="{% url 'google_login' %}?next={% url 'oauth_unsubscribe' %}">unsubscribe with Google</a>.)
    </p>
    <hr />
    <h2>Using a non-Google email</h2>
    <p>
        If your email isn't associated to a Google account,
        you can instead send an email with the following envelope.
    </p>
    <table id="envelope">
        <tr>
            <th>To</th>
            <td>
                <a href="mailto:subscribe@evanchen.cc"><code>subscribe@evanchen.cc</code></a>
            </td>
        </tr>
        <tr>
            <th>From</th>
            <td>
                <code>your-username@domain.net</code>
            </td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>
                <code>add: your-username@domain.net</code>
            </td>
        </tr>
    </table>
    <p>
        To unsubscribe, use <code>remove</code> instead of <code>add</code> in the subject line.
        Alternatively, every email sent contains a user-specific unsubscribe link.
    </p>
    <hr />
    <h2>Technical details</h2>
    <p>
        This is a really simple Django project that just uses
        <code>allauth</code> to validate Google account ownership
        and then stores the email in a single model.
        You can read the
        <a href="https://github.com/vEnhance/list.evanchen.cc">source code on GitHub</a>
        if you want to see how it works.
    </p>
{% endblock content %}
{% block back_link %}
    <hr id="foot-divider" />
    <p id="le-serrafim">
        What are you lookin' at? It's fun going insane.
        — <a href="https://open.spotify.com/track/5hfKDfqthxHt6xsgCjimuO">르세라핌</a>
    </p>
{% endblock back_link %}
