{% extends "mailing/base.html" %}
{% block title %}
    Mailing List
{% endblock title %}
{% block main %}
    <h1>Mailing List</h1>
    <ul>
        <li>
            <a href="{% url 'google_login' %}?next={% url 'oauth_subscribe' %}">Subscribe with Gmail</a>
        </li>
        <li>
            <a href="{% url 'subscribe_form' %}">Subscribe with another email</a>
        </li>
        <li>
            <a href="{% url 'google_login' %}?next={% url 'oauth_unsubscribe' %}">Unsubscribe with Gmail</a>
        </li>
    </ul>
{% endblock main %}
